TELEGRAM_TOKEN=8675078490:AAHuWe-3CphyWn4vlYv-1tDKZofDS-mJScM
OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=llama3.2

# IDs dos responsáveis no Telegram (pegar via @userinfobot)
TELEGRAM_ID_SUPORTE=
TELEGRAM_ID_COMERCIAL=
TELEGRAM_ID_TECNICO=
TELEGRAM_ID_FINANCEIRO=
TELEGRAM_ID_DIRECAO=
